.footer{
    margin-top:130px;
    display: flex;
    width:100%;
    height: 74px;
    background-color: #0E0E3D;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.45px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#ffffff;
}

.project{
    margin-left:80px;
}

.download{
    margin-right:80px;
}