.header{
    width: 1440px;
    height: 72px;
    background-color: #F3EDF7;
    width:100%;
    gap: 0px;
    opacity: 0px; 
    color:#3F3EA3;

}

.headerContainer{
    display: flex;
    margin: 16px 80px 16px 80px;
    justify-content: space-between;
}

.navigation{
    display: flex;
    width: 364px;
    height: 36px;
    gap: 16px;    
    flex-basis: auto;
    align-items: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.logo{
    width: 40px;
    height: 40px;
 
}

.modal{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.profileLogo{
    border: solid #3F3EA3; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: Hug (134px)px;
    height: Fixed (36px)px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px ;
    border-width: 0.62px ;
    opacity: 0px;  
    cursor: pointer;
    text-wrap: nowrap;
}

.profileImg{
    width:24px;
    height: 24px;
}

.downloadApp{
    border: solid #3F3EA3;
    display: flex;
    width: Hug (214px)px;
    height: Fixed (36px)px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px;
    border-width: 0.62px ;
    opacity: 0px; 
    align-items: center;
    justify-content: center; 
    cursor: pointer;  
}

.appLogo{
    width:24px;
    height: 24px;
}

