.containerCard{
    display: flex;
    width: 413px;
    height: 232px;
    gap: 0px;
    border-radius: 12px;
    justify-content: space-between;
    opacity: 0px;    
    background-color: #A4A3FA;
    margin: 0;
}

.rightContainer{
    display: flex;
    width: 313px;
    height: 168px;
    gap: 0px;
    align-items: left;
    flex-basis: auto;
    margin-top:32px;
    margin-left:32px;
}

.cardTitle{
    position: absolute;
    width: 280px;
    height: 134px;
    gap: 0px;
    opacity: 0px;  
    font-size: 24px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: var(--DisplayMediumTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#ffffff;
    z-index: 1;
}

.container{
    display: grid; 
    grid-template-rows: 36px 36px 36px;
    grid-template-columns: 36px; 
    gap: 30px;
    width: 36px; 
    height: 168px;
    align-items: right;
    flex-basis: auto;
    margin-top:32px;
    margin-right:32px;
}

.tags{
    display:flex;
    gap:6px;
    height: 24px;
    gap: 6px;
    opacity: 0px;
    text-wrap: nowrap;    
    align-self: flex-end;
    margin-left: 0;
    flex-basis: auto;
    z-index: 0;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 2px 12px 2px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4000000059604645px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.complitedLogo{
    cursor: pointer;
    background-image: url('../../../../images/completeOff.svg');
    background-repeat: no-repeat;
}

.complitedLogo:hover, .likeLogo:hover, .saveLogo:hover{
    opacity: 0.5
}

.likeLogo{
    cursor: pointer;
    background-image: url('../../../../images/likes.svg');
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.saveLogo{
    cursor: pointer;
    background-image: url('../../../../images/save.svg');
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

