.containerCard{
    width: Fixed (413px)px;
    height: 232px;
    gap: 0px;
    border-radius: 12px;
    padding: 32px;
    justify-content: space-between;
    opacity: 0px;    
    background-color: #A4A3FA;
}

.rightContainer{
    display: flex;
    width: 313px;
    height: 168px;
    gap: 0px;
    align-items: left;
    flex-basis: auto;
}

.cardTitle{
    width: 280px;
    gap: 0px;
    opacity: 0px;  
    font-size: 24px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: var(--DisplayMediumTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#ffffff;
}

.container{
    display: grid; 
    grid-template-rows: 36px 36px 36px;
    grid-template-columns: 36px; 
    gap: 0px;
    width: 36px; 
    height: 168px;
}

.item{
    
}