.profileForm {
  margin: 56px;
}

.questionsContainer {
  display: flex;
  max-width: 467px;
  flex-direction: column;
}

.profileRow {
  border-bottom: 1px solid rgba(230, 230, 255, 0.5);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 100px;
  font: 500 16px/1.1 Roboto, sans-serif;
  justify-content: space-between;
  padding: 28px 0;
}

.profileHeader {
  color: rgba(63, 62, 163, 1);
  align-self: stretch;
  width: auto;
  margin: auto 0;
  font-size: x-large;
  font-weight: bold;
}

.profileLabel {
  color: rgba(63, 62, 163, 1);
  align-self: stretch;
  width: 200px;
  margin: auto 0;
}

.profileValue {
  color: rgba(63, 62, 163, 0.7);
  font: 400 14px/1.1 Roboto, sans-serif;
  text-align: right;
  align-self: stretch;
  width: 120px;
  margin: auto 0;
}

.toggleRow {
  border-bottom: 1px solid rgba(230, 230, 255, 0.5);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
  padding: 28px 0;
}

.toggleLabel {
  color: rgba(63, 62, 163, 1);
  flex: 1;
  font: 500 16px/1.1 Roboto, sans-serif;
}

.toggleSwitch {
  border: 2px solid rgba(164, 163, 250, 1);
  border-radius: 100px;
  display: flex;
  min-height: 32px;
  width: 52px;
  padding: 2px 8px;
}

.toggleHandle {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.toggleTarget {
  z-index: 10;
  display: flex;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.toggleState {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.toggleShape {
  background-color: rgba(63, 62, 163, 1);
  border-radius: 24px;
  height: 16px;
  width: 16px;
}

.questionGroup {
  border-bottom: 1px solid rgba(230, 230, 255, 0.5);
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  padding: 28px 0;
}

.questionTitle {
  color: rgba(63, 62, 163, 1);
  font: 500 16px/1.1 Roboto, sans-serif;
}

.tagsContainer {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 12px;
  font: 400 14px/1 Roboto, sans-serif;
  letter-spacing: 0.4px;
}

.tag {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  white-space: nowrap;
}

.tag .big {
  border-radius: 16px;
  padding: 6px 16px;
  white-space: nowrap;
}

.tagSelected {
  background-color: rgba(63, 62, 163, 1);
  color: #fff;
}

.tagUnselected {
  border: 1px solid rgba(63, 62, 163, 1);
  color: rgba(63, 62, 163, 1);
}

.tagDisabled {
  background-color: rgba(251, 246, 255, 1);
  border: 1px solid rgba(63, 62, 163, 0.6);
  color: rgba(63, 62, 163, 0.6);
}

/* Стили для переключателя */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3F3EA3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Округленный переключатель */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bigSaveBtn {
  width: 225px;
  height: 56.55px;
  padding: 15.27px 0;
  gap: 10.18px;
  border-radius: 32px;
  border: 1px solid #3F3EA3;
  background-color: #3F3EA3;
  color: #ffffff;
  font-size: 25.45px;
  font-weight: 500;
  line-height: 25.45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;   
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.bigSaveBtn:hover{
  background-color: #ffffff;
  color: #3F3EA3;
}

.exit {
  cursor: pointer;
  z-index: 9;
  color:#a8a5a5b6;
  margin-left: 300px;
}