
.profile-form {
    margin: 56px;
}

.questions-container {
display: flex;
max-width: 467px;
flex-direction: column;
}
  
.profile-row {
border-bottom: 1px solid rgba(230, 230, 255, 0.5);
display: flex;
width: 100%;
align-items: center;
gap: 40px 100px;
font: 500 16px/1.1 Roboto, sans-serif;
justify-content: space-between;
padding: 28px 0;
}
  
.profile-header {
color: rgba(63, 62, 163, 1);
align-self: stretch;
width: auto;
margin: auto 0;
font-size: x-large;
font-weight: bold;
}

.profile-label {
color: rgba(63, 62, 163, 1);
align-self: stretch;
width: 200px;
margin: auto 0;
}
  
.profile-value {
color: rgba(63, 62, 163, 0.7);
font: 400 14px/1.1 Roboto, sans-serif;
text-align: right;
align-self: stretch;
width: 120px;
margin: auto 0;
}
  
.toggle-row {
border-bottom: 1px solid rgba(230, 230, 255, 0.5);
display: flex;
width: 100%;
align-items: center;
gap: 24px;
padding: 28px 0;
}
  
.toggle-label {
color: rgba(63, 62, 163, 1);
flex: 1;
font: 500 16px/1.1 Roboto, sans-serif;
}
  
.toggle-switch {
border: 2px solid rgba(164, 163, 250, 1);
border-radius: 100px;
display: flex;
min-height: 32px;
width: 52px;
padding: 2px 8px;
}
  
.toggle-handle {
display: flex;
width: 100%;
flex-direction: column;
}
  
.toggle-target {
z-index: 10;
display: flex;
margin-top: -10px;
align-items: center;
justify-content: center;
padding: 4px;
}
  
.toggle-state {
border-radius: 100px;
display: flex;
align-items: center;
justify-content: center;
padding: 12px;
}
  
.toggle-shape {
background-color: rgba(63, 62, 163, 1);
border-radius: 24px;
height: 16px;
width: 16px;
}
  
.question-group {
border-bottom: 1px solid rgba(230, 230, 255, 0.5);
display: flex;
width: 100%;
flex-direction: column;
font-family: Roboto, sans-serif;
padding: 28px 0;
}
  
.question-title {
color: rgba(63, 62, 163, 1);
font: 500 16px/1.1 Roboto, sans-serif;
}
  
.tags-container {
display: flex;
margin-top: 20px;
flex-wrap: wrap;
gap: 12px;
font: 400 14px/1 Roboto, sans-serif;
letter-spacing: 0.4px;
}
  
.tag {
border-radius: 16px;
border: none;
padding: 6px 16px;
white-space: nowrap;
}
  
.tag .big {
border-radius: 16px;
padding: 6px 16px;
white-space: nowrap;
}

.tag-selected {
background-color: rgba(63, 62, 163, 1);
color: #fff;
}
  
.tag-unselected {
border: 1px solid rgba(63, 62, 163, 1);
color: rgba(63, 62, 163, 1);
}
  
.tag-disabled {
background-color: rgba(251, 246, 255, 1);
border: 1px solid rgba(63, 62, 163, 0.6);
color: rgba(63, 62, 163, 0.6);
}

  /* Стили для переключателя */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3F3EA3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Округленный переключатель */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.big-save-btn{
  width: 225px;
  height: 56.55px;
  padding: 15.27px 0px 15.27px 0px;
  gap: 10.18px;
  border-radius: 32px;
  opacity: 0px;
  border:1px solid #3F3EA3;
  background-color: #3F3EA3;
  color:#ffffff;
  font-size: 25.45px;
  font-weight: 500;
  line-height: 25.45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;   
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.big-save-btn:hover{
  background-color: #ffffff;
  color:#3F3EA3;
}