.section{
    width: 1280px;
    height: 734px;
    margin-top: 64px;
    opacity: 0px;  
}

.topSection{
    width: 1280px;
    height: 170px;
    gap: 32px;
    opacity: 0px; 
}

.title{
    width: 845px;
    height: 80px;
    gap: 0px;
    opacity: 0px; 
    margin-left:217.5px;   
    font-size: 72px;
    font-weight: 600;
    line-height: 79.2px;
    letter-spacing: var(--DisplayMediumTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-wrap: nowrap;
    color: #3F3EA3;
}

.cardsSections{
    display:grid;
    margin-top:64px;
    
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
}